[package]
name = "stringsext"
version = "2.1.0"
authors = ["Jens Getreu <getreu@web.de>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
encoding_rs= "0.8.22"
lazy_static = "1.4.0"
docopt = "1.1.0"
serde = "1.0.104"
serde_derive = "1.0.104"
itertools = "0.8.2"
scoped_threadpool = "0.1.9"
anyhow = "1.0.26"
