@page {
  @bottom-center {
    content: counter(page) "/" counter(pages);
  } 
  size: A4 portrait;
}
h1, h2, h3, h4 {
  font-weight: normal;
  color: #049;
}
h1 { font-size: 140%; }
h2 { font-size: 120%; }
h3 { font-size: 110%; }
h4 { font-size: 105%; }
  
